{% extends 'blog_base.html' %}
{% block content %}
  
  <!--Password Reset Confirm-->
    <div style = "margin-top:50px;">
	    <h2 style = "font-weight:bold; margin-bottom:5px;"> Confirmer la réinitialisation du mot de passe</h2>
		<hr>
        <p>Veuillez entrer votre nouveau mot de passe.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.password}}
            {{ form.password}}                  
            <button class="btn" type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>

{% endblock %}
