{% extends 'blog_base.html' %}
{% block content %}

	<div style = "margin-top:50px;" class="newslleter">
  	 	<h2 style = "font-weight:bold; margin-bottom:5px;">Réinitialiser le mot de passe</h2>
		<hr>
		<p>Mot de passe oublié? Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour en définir un nouveau.</p>
		<form action="" method = "post">
			{% csrf_token %}
			{{password_reset_form.email}}
			<button type = 'submit' style = "cursor:pointer"> Envoyez</button>
		</form>
  	</div> 
{% endblock %}