{% extends 'blog_base.html' %}
{% block content %}

	<!--Password reset sent-->
	<div style = "margin-top:50px;">
  	<h2 style = "font-weight:bold; margin-bottom:5px;">Réinitialisation du mot de passe envoyée</h2>
		<hr>
		<p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, Un compte existe avec l'e-mail que vous avez saisi. Vous devriez recevoir le mail dans peu de temps.<br>      
        Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
  </div>

{% endblock %}