{% extends 'blog_base.html' %}
{% if article_form.errors %}
    {{article_form.errors}}
{% endif %}
{% block content %}
<div class="retourn">
    <a href="{% url 'dashbord' %}">Dashbord</a>
</div>
<div class="add-article">
    <form action="", method = 'post'>
        {% csrf_token %}
        {{article_form.media}}
        {{article_form.title}}
        {{article_form.title_tags}}
        {{article_form.outils}}
        {{article_form.categories}}
        {{article_form.description}}
        {{article_form.body|safe}}
        <button type="submit"> Ajoutez</button>
    </form>
</div>
    
{% endblock content %}