{% load static %}
<html>
<head> 
    <meta charset = "UTF-8"/>
    <meta name = "viewport", content = "width=device-width, initial-scale = 1.0"/>
    <meta http-equiv = "X-UA-compatible" content = "ie=edge"/>
    <meta name="description" property="og:description" content= "Apprendre et patager avec les autres est le but de 02xcode">
    <meta name="keywords" content= "python , Intelligence Artifielle, Securité informatique, Data science, Reseau, programmation système">
    <meta name="author" content= "02x-code - csttrx">
    <meta property="og:image" content= {% static 'url images/icon70.png' %} />
    <meta property="og:image:alt" content="02xcode - logo" />
    {#   <meta property="og:url" content={{request.build_absolute_uri()}}/> #}
    <meta property="og:title" content='02xcode - Apprendre et partager' />
    <title> 02xcode - python, django, c and c++ pour Data sience, IA, web, programmation system, reseau et securité informatique.</title>
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'blog_style.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
<body>
    
    <div class="blog">
        {% include 'partiels/blog_header.html' %}
        {% include 'partiels/blog_hero.html' %}
        <div class="blog-main">    
            {% block content %}
                <div class="news-article">
                    <h3 style  = "margin-left:20px ;" > Les nouveaux </h3>
                    <div class="all-article">
                        {% for article in news_articles %}
                            <a  href="{% url 'show_article' article.slug %}">
                                <div class="all-content">

                                    <div class="article-img">

                                        {% if article.categories.name == "r" %}
                                        <img src="{% static 'images/r.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "w" %}
                                            <img src="{% static 'images/w.png' %}" alt="">
                                        {% endif %}

                                        {% if  article.categories.name == "ds" %}
                                            <img src="{% static 'images/ds.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "ps" %}
                                            <img src="{% static 'images/ps.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "si" %}
                                            <img src="{% static 'images/si.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "ia" %}
                                            <img src="{% static 'images/ia.png' %}" alt="">
                                        {% endif %}
                                    </div>

                                    <div class="article-info">
                                    
                                        <h3>{{article.title}}</h3>
                                        <p>
                                            {{article.description}}
                                        </p>
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    

                                </div>
                            </a>

                            {{cat_img}}
                        {% endfor %}
                    </div>
                </div>
            {% endblock content %}
        </div>
    </div>

    {% include 'partiels/footer2.html' %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        document
        .getElementById('icon')
        .addEventListener('click', function(){
            document
            .getElementsByTagName('ul')[0]
            .classList.toggle('show');
        })

        document.getElementById("Check").required = true;
    </script>
</body>
</html>