{% extends 'blog_base.html' %}
{% load static %}
{% block article_content %}
    <h3 style  = "margin-left:20px ;" > Tous nos Articles </h3>
    <div class="all-article">
        {% for article in page_obj %}
            <a  href="{% url 'show_article' article.id %}">
                <div class="all-content">

                    <div class="article-img">

                        {% if article.categories.name == "r" %}
                         <img src="{% static 'images/r.png' %}" alt="">
                        {% endif %}

                        {% if article.categories.name == "w" %}
                            <img src="{% static 'images/w.png' %}" alt="">
                        {% endif %}

                        {% if  article.categories.name == "ds" %}
                            <img src="{% static 'images/ds.png' %}" alt="">
                        {% endif %}

                        {% if article.categories.name == "ps" %}
                            <img src="{% static 'images/ps.png' %}" alt="">
                        {% endif %}

                        {% if article.categories.name == "si" %}
                            <img src="{% static 'images/si.png' %}" alt="">
                        {% endif %}

                        {% if article.categories.name == "ia" %}
                            <img src="{% static 'images/ia.png' %}" alt="">
                        {% endif %}
                    </div>

                    <div class="article-info">
                    
                        <h3>{{article.title}}</h3>
                        <p>
                            {{article.description}}
                        </p>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                    

                </div>
            </a>

            {{cat_img}}
        {% endfor %}
    </div>

    <div class="page">

        
        <div class = "page-cnt">
        
            <ul>
                {% if page_obj.has_previous %}
                <li><a href="?page={{page_obj.previous_page_number }}">«</a></li>
                {% endif %}
                {% if page_obj.paginator.num_pages > 1 %}
                <li><a href="?page=1">1</a></li>
                <li class ='p-n'><a href="?page=2">2</a></li>
                <li class ='p-n' ><a href="?page=3">3</a></li>
                {% endif %}
            </ul>
                
            
        </div>
        {% if page_obj.has_next %}
        <div class = "page-cnt">
            <ul>
                <span class = 'dot'> ... </span>
                <li> <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                <li><a href="?page={{ page_obj.next_page_number }}">»</a></li>
            </ul>
        </div>
        {% endif %}
        <div class = "page-cnt page-info">
            <p>Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.</p>
        </div>
    </div>

{% endblock article_content %}