{% load static %}
<html>
<head> 
    <meta charset = "UTF-8"/>
    <meta name = "viewport", content = "width=device-width, initial-scale = 1.0"/>
    <meta http-equiv = "X-UA-compatible" content = "ie=edge"/>
    <title> 02xcode</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css">
    <link rel="stylesheet" href="{% static 'blog_style.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}"> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://kit.fontawesome.com/cc08bec826.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="blog">
        {% include 'partiels/blog_header.html' %}
        {% include 'partiels/blog_hero.html' %}
        {{context_nb_vistors}}
        <div class="blog-main">    
            {% block content %}
                <div class="news-article">
                    <h3 style  = "margin-left:20px ;" > Les nouveaux </h3>
                    <div class="all-article">
                        {% for article in news_articles %}
                            <a  href="{% url 'show_article' article.id %}">
                                <div class="all-content">

                                    <div class="article-img">

                                        {% if article.categories.name == "r" %}
                                        <img src="{% static 'images/r.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "w" %}
                                            <img src="{% static 'images/w.png' %}" alt="">
                                        {% endif %}

                                        {% if  article.categories.name == "ds" %}
                                            <img src="{% static 'images/ds.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "ps" %}
                                            <img src="{% static 'images/ps.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "si" %}
                                            <img src="{% static 'images/si.png' %}" alt="">
                                        {% endif %}

                                        {% if article.categories.name == "ia" %}
                                            <img src="{% static 'images/ia.png' %}" alt="">
                                        {% endif %}
                                    </div>

                                    <div class="article-info">
                                    
                                        <h3>{{article.title}}</h3>
                                        <p>
                                            {{article.description}}
                                        </p>
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                    

                                </div>
                            </a>

                            {{cat_img}}
                        {% endfor %}
                    </div>
                </div>
            {% endblock content %}
        </div>
    </div>

    {% include 'partiels/footer2.html' %}

    <script>
        document
        .getElementById('icon')
        .addEventListener('click', function(){
            document
            .getElementsByTagName('ul')[0]
            .classList.toggle('show');
        })

        document.getElementById("Check").required = true;
    </script>

</body>
</html>