{% extends 'blog_base.html' %}

{% block content %}
<div class="retourn">
    <a href="{% url 'dashbord' %}">Dashbord</a> |
    <a href="{% url 'show_article' article.slug %}"> Visialiser</a>
</div>
{% if article_form.errors %}
    {{article_form.errors}}
{% endif %}
<div class="add-article">
    <form action="", method = 'post'>
        {% csrf_token %}
        {{article_form.media}}
        <div style="display:flex; flex-direction:row; justify-content:space-between;"> {{article_form.publish}} <label class ='check-p'>Publier maintenant</label></div> 
        {{article_form.title}}
        {{article_form.title_tags}}
        {{article_form.categories}}
        {{article_form.description}}
        {{article_form.body|safe}}
        <button type="submit">Modifier</button>
    </form>
</div>
{% endblock content %}