{% extends 'base.html' %}

{% block content %}
<section class = "hero">
    <div class="text">
        <ul> 
            <li>Hello !</li> 
            <li>I'm Coulibaly</li>  
        </ul>
        <p>
            Cardano is a blockchain platform for changemakers, innovators, and visionaries, with the tools and technologies required to create possibility for the many, as well as the few, and bring about positive global change.
        </p>
        <button class = "btnh"> <a href="">Contact me </a></button>
    </div>
    
    <div class="img">
    </div>
</section>
{% endblock content %}