{% load static %}
<nav>
    <div class="nav-logo">
        <a href = "{% url 'blog' %}"><label class = "logo">02XCODE</label></a>
    </div>

        {% include '../partiels/search_form.html' %}

    <ul>
        <li>
            <a class = "active" href = "{% url 'blog' %}">Home</a>
        </li>
        <li>
            <a href ="{% url 'articles' %}">Articles</a>
        </li>
        <li>
            <a  href = "{% url 'blog_contact' %}"> Contactez nous</a>
        </li>
        {% if user.is_authenticated %}
        <li> <a  href = "{% url 'logout' %}">Se déconnecter</a></li>
            {% if perms.blog.add_article %}
            <li>
                <a class = "project" href = "{% url 'dashbord' %}">Dashbord</a>
            </li>
            {% endif %}
        {% else %}
        <li>
            <a  href = "{% url 'login' %}">Se connecter</a>
        </li>
        {% endif %}

    </ul>

    <label id="icon"> <img src="{% static  'images/menu.png' %} " alt=""></label>
</nav>