
<div class="footer2">
    <div class="foot-content2">
        {% if newsform %}
        <div class="newslleter">
            <h3>Restez informé</h3>
            <form action="" method = "post">
                {% csrf_token %}
                {{newsform.email}}
                {{newsform.news_letter}}
                <button type = 'submit'> Envoyez</button>
            </form>
        </div>
        {% endif %}
        <div class="social-container2"> 

                <ul class="zero2">
                    <li class = 'about'><a href="{% url 'about' %}" >About</a></li>
                    <li class = "contact"><a href="{% url 'blog_contact' %}" >Contactez-Nous</a></li>
                </ul>

                <ul class = "social2">
                    <li> <a href="https://twitter.com/02xcodeCom"><i class = "fab fa-twitter"></i> </a> </li>
                    <li><a href="https://www.youtube.com/channel/UCUym_uTzSrQAwBZrTSJCU6g"> <i class = "fab fa-youtube"></i> </a> </li>
                    <li> <a href="https://github.com/02xcodeCom"><i class = "fab fa-github"></i> </a> </li>
                    <li> <a href="https://www.linkedin.com/in/sopdet-tech-5983aa233/"><i class = "fab fa-linkedin"></i> </a> </li>
                    <li><a href="https://web.facebook.com/02xcodecom-110620674895706/?ref=pages_you_manage"> <i class = "fab fa-facebook"></i> </a> </li>
                </ul>
        </div>

        <div class="foot-info">
            <ul class = "footer-links">
                <li><a href = "{% url 'politique' %}">politiques <span>|</span></a></li>
                <li><a href = "{% url 'articles' %}">articles <span>|</span></a></li>
                <li><a href = "{% url 'login' %}">connexion<span></span></a></li>
            </ul>
            <p>Copyright © 2022 tout droit reservé par 02xcode</p>
            
        </div>
    </div>
</div>