<div class="footer">
    <div class="foot-title">
        <h1>Contactez Nous</h1>
    </div>

    <div class="foot-content">
        <ul class = "zero">
            <h2> Zero++</h2>
            <li><a href="{% url 'about' %}" >About</a></li>
            <li><a href = "{% url 'politique' %}">poitique</a></li>
            <li><a>About</a></li>
        </ul>
        <ul class = "footer-contact">
            <h2> Contacts</h2>
            <li> <i class = "fas fa-phone"></i> +21300000000</li>
            <li> <i class = "fas fa-envelope"></i> cs.ttrx@gmail.com</li>
            <li> <i class = "fas fa-envelope"></i> coulbsoum@gmail.com</li>
        </ul>
        <ul class = "footer-link">
            <h2> Lien utils</h2>
            <li>cs.ttrx@gmail.com</li>
            <li>coulbsoum@gmail.com</li>
        </ul>

     <div class="social-container">
        <ul>
            <h2> Newsletter</h2>
            <div class="news">
     
            
            </div>
        </ul>
        <ul class = "social">
            <li> <i class = "fab fa-facebook"></i> <a href=""></a> </li>
            <li> <i class = "fab fa-facebook"></i> <a href=""></a> </li>
            <li> <i class = "fab fa-facebook"></i> <a href=""></a> </li>
            <li> <i class = "fab fa-facebook"></i> <a href=""></a> </li>
        </ul>
     </div>
        
    </div>
</div>